* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.app {
    width: 350px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    box-shadow: 0 5px 15px #555;
    overflow: hidden;
    background-color: white;
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    -webkit-tap-highlight-color: transparent;
}

.text-animation {
    margin: 0 20px;
    font-size: 15px;
}

.song-art,
.song-info,
.song-range,
.song-times,
.song-button {
    padding: 10px 12px;
}

.song-art {
    padding: 0;
    width: 200px;
    height: 200px;
    margin: auto;
    box-shadow: 0 0 10px #333;
    border-radius: 50%;
}

.song-art .song-art-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.song-info {
    color: #333;
    text-align: center;
}

.song-info h5 {
    margin-top: 5px;
    color: gray;
}

.song-range .song-range-item {
    width: 100%;
}

.song-range,
.song-times {
    padding: 0 12px;
}

.song-times {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 10px;
}

.song-button {
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-evenly;
}

.prev-btn,
.play-btn,
.next-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background-color: #444;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px #333;
    -webkit-tap-highlight-color: transparent;
}

.loop-btn,
.random-btn {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.list-music {
    width: 85%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transform: translateX(-105%);
    box-shadow: 0 0 10px gray;
    z-index: 2;
    transition: .5s ease;
    overflow-y: scroll;

}

.list-item {
    margin-bottom: 3px;
    display: flex;
    padding: 10px 12px;
    background-color: white;
    box-shadow: 0 0 10px #dadada;
    cursor: pointer;
}

.list-avatar {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    box-shadow: 0 0 5px #cecece;

}

.list-avatar-item {
    width: 100%;
}

.list-info {
    margin-left: 12px;
}

.list-info h6 {
    margin-top: 10px;
}

.btn-list {
    cursor: pointer;
}

.btn-list:hover {
    color: blue;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    display: none;
}

/* Xử lý khi click vào btn list */
#list-input:checked~.list-music {
    transform: translateX(0%);
}

#list-input:checked~.overlay {
    display: block;
    animation: faceIn .3s linear;
}

/* Animation */
.play {
    animation: rotate 10s linear infinite;
}

.pause {
    animation-play-state: paused;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes faceIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: cadetblue;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    background-color: gray;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #333;
    border: 3px solid white;
    border-radius: 50%;
    margin-top: -7px;
}